html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    width: 950px;
    margin:0 auto;
    display:flex;
    flex-direction: row-reverse;
}
.main{
    display:flex;
    flex-wrap:wrap;
}
.good{
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    border:1px solid #e7eeea;
    width: 300px;
}
.good-img{
    margin: 0;
    display: block;
}
.good-name{
    margin: 0px;
    width: 300px;
    display:flex;
    height: 65px;
    flex-direction:space-between;
    align-items: center;
    .name{
        text-align:center;
        width: 185px;
        padding-top: 22.5px;
        padding-bottom: 22.5px;
        border-right:1px solid #e7eeea;
        font-size: 20px;
        color: #37523d;
    }
    .money{
        text-align:center;
        width: 115px;
        font-size:20px;
        color: #37523d;
    }
}
.btn{
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #e7eeea;
    text-align: center;
    font-size:25px;
    color: #37523d;
    font-weight: bold
}
.list{
    display:flex;
    flex-direction: column;
    width: 300px;
    
    p{
        padding-top:21px;
        padding-bottom:21px;
        font-size: 26px;
        text-align:center;
        color: #37523d;
        font-weight: bold;
        border:1px solid #e7eeea;
    }
    .type{
        background: #37523d;
        color: #ffffff;
    }
    .all{
        background: #e7eeea;
    }
}