h3{
    border-bottom:10px solid red;
    border-left:10px solid red;
}
.img{
    border:10px solid blue;
}
a{
    border:10px solid rebeccapurple;
}
.aaaa{
    text-decoration: line-through;

}
a:hover{
    color:aliceblue;
    border:10px solid rebeccapurple;
}