body{
    margin:0 auto;
    width: 1024px;
}
.header{
    margin-bottom:10px;
}
.cource{
    display:flex;
    justify-content:space-between;

}
.cource-item{
    width: 300px;
    border:1px solid black;
    h2{
        text-align:center;
    }
    p{
        margin: 10px;
    }
}
.footer{
    background-color:antiquewhite;
    text-align:center;
    margin-top: 10px;
}