/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
    width: 1000px;
    border-top:5px solid gray;
    border-left:5px solid gray;
    border-right:5px solid gray;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.contect{
    width: 1000px;
    border:5px solid red;
    padding-left: 10px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.footer{
    width: 1000px;
    background-color: blanchedalmond;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
}
.footer p{
    margin:0px;
}
.contect p{
    margin: 10px;;
    width: 1000px;
    color: blue;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
a{
    text-align: center;
    width: 100px;
    height: 30px;
    display: block;
    background-color: blue;
    color: aliceblue;
}
a:hover{
    text-align: center;
    width: 100px;
    height: 30px;
    display: block;
    background-color: black;
    color: aliceblue;
}